<div class="row d-flex justify-content-center align-items-center"
            style="background-image: url('/static/epicenter.png');
            height: 100px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 500px">
    <div class="col-12 text-end">
        <a role="button" class="mx-3  text-white" onclick="openLogFile(file='app')"
           data-bs-toggle="tooltip" data-bs-placement="top" title="Open application log file">
            <span class="material-icons align-middle fs-2">summarize</span>
        </a>
        <a role="button" class="mr-3  text-white" onclick="location.reload();"
           data-bs-toggle="tooltip" data-bs-placement="top" title="Reload application">
            <span class="material-icons align-middle fs-2">refresh</span>
        </a>
    </div>
</div>