<!DOCTYPE html>
<html>
    <head>
        <title>EPIC EASY MINER v1.00</title>

        <!--         FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">

        <!--        JAVASCRIPT FILES -->
        <script type="text/javascript" src="/eel.js"></script>
        <script type="text/javascript" src="/scripts.js"></script>

        <!--        BOOTSTRAP & jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!--        FONTS -->
        <script src="https://kit.fontawesome.com/c97d901669.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

        <!--        CSS FILES -->
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/assets/css/material-dashboard.css" rel="stylesheet" />
    </head>

    <body>

        <div class="app_head">
            {% include 'app_head.html' %}
        </div>

        <div class="software_tabs">
            <div class="row d-flex justify-content-center mt-1">
            {% include 'software_tabs.html' %}
            </div>
        </div>

        <div class="app-body">
            <div class="row d-flex justify-content-center align-items-start px-4">
                <div class="col-6 top-body hidden">
                    {% include 'software_content.html' %}
                </div>
                <div class="col-6 top-body hidden">
                    {% include 'wallet.html' %}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="footer px-5">
            <p>
                <a href="https://t.me/epiccashhelpdesk" target="_blank" class=" mx-4 text-white">
                    <i class="fab fa-telegram"></i>
                    Telegram support
                </a>
            </p>

            <a href="https://epicfundme.com/109" target="_blank" class="text-dark">
               `blacktyg3r @ 2021 Donations via EpicFundMe.com
            </a>
        </div>


        <!--   Core JS Files   -->
        <script src="/static/assets/core/jquery.min.js"></script>
        <script src="/static/assets/core/popper.min.js"></script>
        <script src="/static/assets/core/bootstrap-material-design.min.js"></script>
        <script src="/static/assets/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!-- Plugin for the momentJs  -->
        <script src="/static/assets/plugins/moment.min.js"></script>
        <!--  Plugin for Sweet Alert -->
        <script src="/static/assets/plugins/sweetalert2.js"></script>
        <!-- Forms Validations Plugin -->
<!--        <script src="/static/assets/plugins/jquery.validate.min.js"></script>-->
        <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<!--        <script src="/static/assets/plugins/jquery.bootstrap-wizard.js"></script>-->
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<!--        <script src="/static/assets/plugins/bootstrap-selectpicker.js"></script>-->
        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<!--        <script src="/static/assets/plugins/bootstrap-datetimepicker.min.js"></script>-->
        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<!--        <script src="/static/assets/plugins/jquery.dataTables.min.js"></script>-->
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<!--        <script src="/static/assets/plugins/bootstrap-tagsinput.js"></script>-->
        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<!--        <script src="/static/assets/plugins/jasny-bootstrap.min.js"></script>-->
        <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<!--        <script src="/static/assets/plugins/fullcalendar.min.js"></script>-->
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="/static/assets/plugins/nouislider.min.js"></script>
        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <!-- Library for adding dinamically elements -->
        <script src="/static/assets/plugins/arrive.min.js"></script>

    </body>
</html>

