<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EPIC EASY MINER v2</title>
        {% include 'imports/head.html' %}
    </head>

    <body>
        {% include 'wallet.html' %}

        <div class="app-container" id="appContainer">
            <div class="app_head">
                {% include 'app_head.html' %}
            </div>

            <div class="app-navbar on_wallet" hidden>
                {% include 'navbar.html' %}
            </div>

            <div class="app-body px-2">
                <div class="row d-flex justify-content-center align-items-start">
                    <div class="wallet-create col-6 mt-3 pre_wallet" hidden>
                        {% include 'wallet_create.html' %}
                    </div>
                    <div class="col-10 on_wallet" hidden>
                        {% include 'main.html' %}
                    </div>
                </div>
            </div>

            <div class="footer px-5">
                <p>
                    <a href="https://t.me/epiccashhelpdesk" target="_blank" class=" mx-4 text-white">
                        <i class="fab fa-telegram"></i> Telegram support
                    </a>
                </p>
                <a href="https://epicfundme.com/109" target="_blank" class="text-dark">
                   `blacktyg3r @ 2021 Donations via EpicFundMe.com
                </a>
            </div>

            {% include 'imports/js.html' %}
        </div>
    </body>
</html>

