{% extends 'base.html' %}

{% block content %}

<!-- CREATE WALLET, PROVIDE PASSWORD -->
<div class="col-6 text-center hidden mt-3" id="create_wallet_screen">
    <div class="form-group mb-2">
        <label for="password">Password</label>
        <input type="password" autocomplete="off" autofocus class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="password">Repeat password</label>
        <input type="password" autocomplete="off" class="form-control" id="password2">
    </div>
    <button onclick="createWallet()" class="btn btn-success w-75 my-5" id="create_wallet_btn">
        <span class="fs-5">Create wallet</span>
    </button>
</div>

<!-- SUCCESS WALLET CREATION , 24 WORDS SEED PHRASE -->
<div class="col-8 text-center hidden" id="wallet_created_screen"
     style="margin-top: 15px!important">
    <div class="card card-stats">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">vpn_key</i>
            </div>

            <h3 class="card-title mb-4">
                24-word seed phrase |
                <span class="material-icons text-warning">warning</span>
                <small> SAVE THIS NOW!</small>

            </h3>

            <hr />
            
            <p class="m-3 fs-5 text-dark text-center bg-warning rounded p-2">
                <span id="creation_response"></span>
            </p>
        </div>
    </div>
    <button class="btn btn-success w-100 my-1" onclick="startServer()">
        CONFIRM SEED PHRASE IS SAVED
    </button>
</div>

<!-- Modal DB FIX-->
<div class="modal fade" id="fix_db_modal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Restoring chain data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-3">
                This will backup your <code>chain_data</code> to <code>old_chain_data</code> directory,
                and restore from selected source or previously created backup.
                <p class="text-muted my-3"><small><span id="db_fix_help"></span></small></p>
            </div>
            <div class="modal-footer mt-3">
                <button type="button" id="upload_dir_btn" class="btn btn-info mx-2" onclick="uploadChainData()">
                    Upload new chain_data
                </button>

                <button type="button" id="confirm_restore_btn" class="btn btn-success hidden mx-2" onclick="restoreChainData()">
                    Use local backup
                </button>

                <button type="button" id="exit_btn" class="btn btn-success hidden mx-2" data-bs-dismiss='modal'>
                    Confirm
                </button>

            </div>
        </div>
    </div>
</div>

<!-- Modal PEERS FIX-->
<div class="modal fade" id="fix_peers" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Clearing peers data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-3 mt-3">
                This should be used in case of synchronization problems like small number of peers.
                Server will be stopped and <code>chain_data/peer</code> directory cleared.
            </div>
            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-success" onclick="removePeers()"
                    data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}
