{% extends 'base.html' %}

{% block content %}

<!-- CREATE WALLET, PROVIDE PASSWORD -->
<div class="col-6 text-center hidden mt-3" id="create_wallet_screen">
    <div class="form-group mb-2">
        <label for="password">Password</label>
        <input type="password" autocomplete="off" autofocus class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="password">Repeat password</label>
        <input type="password" autocomplete="off" class="form-control" id="password2">
    </div>
    <button onclick="createWallet()" class="btn btn-success w-75 my-5" id="create_wallet_btn">
        <span class="fs-5">Create wallet</span>
    </button>
</div>

<!-- SUCCESS WALLET CREATION , 24 WORDS SEED PHRASE -->
<div class="col-8 text-center hidden" id="wallet_created_screen">
    <div class="card card-stats">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">vpn_key</i>
            </div>

            <h3 class="card-title mb-4">24-word seed phrase</h3>

            <hr />
            <p id="creation_response" class="mb-2 fs-5 text-dark text-center"></p>
            <hr />

            <h4 class="card-title text-center my-2">
                <span class="material-icons text-warning">warning</span>
                SAVE THIS NOW
            </h4>

            <button class="btn btn-success w-100 my-1" onclick="startAll()">
                START EPIC SERVER
            </button>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">info</i>
                This is human readable version of your private key,
                it is shown to you only once!
            </div>
        </div>
    </div>
</div>

<!-- Modal DB FIX-->
<div class="modal fade" id="fix_db_modal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Restoring chain data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-3">
                Should be used when <code>chain_data </code> directory is corrupted
                and server is not working (black window without response)<br />
                This will backup your <code>chain_data </code> to <code> old_chain_data</code> directory,
                and restore from pre-installed blockchain file.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="restoreChainData()"
                    data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal PEERS FIX-->
<div class="modal fade" id="fix_peers" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Clearing peers data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-3">
                This should be used in case of synchronization problems like small number of peers.
                Server will be stopped and <code>chain_data/peer </code> directory cleared.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="removePeers()"
                    data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}
