{% extends 'base.html' %}

{% block content %}

<div class="col-12 mb-4">
    <div class="text-center">
        <p class="code">Hardware detected: </p>
        <span class="badge bg-success mx-2 my-2 fs-6" id="cpu_info"></span>
        <span class="badge bg-danger mx-2 my-2 fs-6" id="gpu_info"></span>
    </div>
</div>

<hr />

<div class="col-6 text-center hidden" id="create_wallet_screen">
    <p id="warning_field" class="">
        To start mining please create wallet
    </p>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="password">Repeat password</label>
        <input type="password" class="form-control" id="password2">
    </div>
    <button onclick="createWallet()" class="btn btn-success w-75 mt-5" id="create_wallet_btn">
        <span class="fs-5">Create wallet</span>
    </button>
</div>

<div class="col-8 text-center hidden" id="wallet_created_screen">
    <p id="seedphrase">Please backup in non-digital form your seed phrase:</p>
    <p id="creation_response"></p>
</div>

<div class="col-8 text-center hidden" id="mining_screen">
    <table class="table table-borderless table-dark align-middle">
        <tbody>

<!--        SERVER ROW-->
            <tr>
                <td>
                    <span id="serverIcon">
                        <i class="fas fa-network-wired"></i>
                    </span>
                <td>
                    <span id="serverName">epic.exe</span>
                </td>
                <td>
                    <span id="serverStatus">Working</span>
                </td>
                <td>
                    <span>
                        <button class="btn btn-sm" name="Server"
                            id="serverButton" onclick="startServer()">
                        </button>
                    </span>
                </td>
            </tr>

<!--        WALLET LISTENER ROW -->
            <tr>
                <td>
                    <span id="listenerIcon">
                        <i class="fas fa-satellite-dish"></i>
                    </span>
                </td>
                <td>
                    <span id="listenerName">epic-wallet.exe</span>
                </td>
                <td>
                    <span id="listenerStatus">Listening</span>
                </td>
                <td>
                    <span>
                        <button class="btn btn-sm" name="Listener"
                            id="listenerButton" onclick="startListener()">
                        </button>
                    </span>
                </td>
            </tr>

<!--        CPU MINER ROW -->
            <tr>
                <td>
                    <span id="cpuIcon">
                        <i class="fas fa-microchip"></i>
                    </span>
                </td>
                <td>
                    <span id="cpuName">epic-miner-cpu.exe</span>
                </td>
                <td>
                    <span id="cpuStatus">Stopped</span>
                </td>
                <td>
                    <span>
                        <button class="btn btn-sm" name="CPU"
                            id="cpuButton" onclick="startCPU()">
                        </button>
                    </span>
                </td>
            </tr>

<!--        GPU MINER ROW -->
            <tr>
                <td>
                    <span id="gpuIcon">
                        <i class="fas fa-gamepad"></i>
                    </span>
                </td>
                <td>
                    <span id="gpuName">epic-miner-gpu.exe</span>
                </td>
                <td>
                    <span id="gpuStatus">Stopped</span>
                </td>
                <td>
                    <span>
                        <button class="btn btn-sm" name="GPU"
                            id="gpuButton" onclick="startGPU()">
                        </button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-success w-75 mt-5 hidden" id="start_mining"
    onclick="startAll()">
    <span class="fs-5">Start Quick-Mining</span>
</button>


{% endblock %}
