<div class="tab-content tab-space mt-0 pt-0">

<!--    SERVER TAB -->
    <div class="tab-pane  active show" id="link1">
        <div class="card card-stats soft-cards">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">dns</i>
                </div>
                <p class="card-category">Node statistics</p>
                <h4 class="card-title mt-2">Status: <span id="serverStatus"></span></h4>
                <h4 class="card-title mt-2"> Peers: <span id="serverPeers"></span></h4>
            </div>
            <div class="card-footer mb-2">
                <button class="btn btn-sm w-100 btn-success" name="Server"
                        id="serverButton" onclick="startServer()"> Start
                </button>
            </div>
        </div>
    </div>

<!--    LISTENER TAB-->
    <div class="tab-pane" id="link2">
        <div class="card card-stats soft-cards">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">sensors</i>
                </div>
                <p class="card-category">Epic-Cash wallet listener</p>
                <h4 class="card-title mt-2">Status: <span id="listenerStatus"></span></h4>
                <h4 class="card-title mt-2">On port: <span id="listenerPort"></span></h4>
            </div>
            <div class="card-footer mb-2">
                <button class="btn btn-sm w-100 btn-success" name="Listener"
                        id="listenerButton" onclick="startListener()"> Start
                </button>
            </div>
        </div>
    </div>

<!--    CPU MINER -->
    <div class="tab-pane soft-cards" id="link3">
        <div class="card card-stats soft-cards">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">memory</i>
                </div>
                <p class="card-category">Epic-Cash CPU miner</p>
                <h4 class="card-title mt-2">Status: <span id="cpuStatus"></span></h4>
                <h4 class="card-title mt-2"> </h4>
            </div>
            <div class="card-footer mb-2">
                <button class="btn btn-sm w-100 btn-success" name="CPU"
                        id="cpuButton" onclick="startCPU()"> Start
                </button>
            </div>
        </div>
    </div>

    <div class="tab-pane soft-cards" id="link4">
        <div class="card card-stats soft-cards">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">sports_esports</i>
                </div>
                <p class="card-category">Epic-Cash GPU miner</p>
                <h4 class="card-title mt-2">Status: <span id="gpuStatus"></span></h4>
                <h4 class="card-title mt-2"> </h4>
            </div>
            <div class="card-footer mb-2">
                <button class="btn btn-sm w-100 btn-success" name="GPU"
                        id="gpuButton" onclick="startGPU()"> Start
                </button>
            </div>
        </div>
    </div>

</div>
