{% extends 'base.html' %}

{% block content %}

<div class="col-xl-4 col-lg-6 col-sm-12">
    <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">verified_user</i>
            </div>
            <p class="card-category">EPIC-RADAR Node</p>
            <h3 class="card-title">
                Height:
            </h3>
            <h4 class="card-title mt-2">
                <span class="mx-1">Blockchain: GB</span>
                <span class="mx-1">Peers: </span>
            </h4>
        </div>
        <div class="card-footer mb-2">
             <table class="table h4">
                <tbody>
                    <tr>
                        <td class="text-left">Network Hashrate</td>
                        <td class="text-left font-weight-bold">
                            RandomX: <br>

                        </td>
                        <td class="text-left font-weight-bold">
                            ProgPow: <br>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}