body, html {
    font-family: 'Roboto', sans-serif!important;
    background-repeat: no-repeat;
    color: #FAFFF7;
}


.footer {
    z-index: 5;
}

.app_head {
    background-image: url('/static/bg2.png');
    color: #FAFFF7;
    box-shadow: 0px 2px 3px black;
}

.top_wallet_card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
}

.software_tabs {
    color: #FAFFF7;
    text-align: center;
    margin-bottom: 45px;
    box-shadow: 0px 1px 4px #333333;
    background-color: rgba(0,0,0,0.05)
}

button, .btn {
  font-family: Tahoma;
    font-size: 0.9rem!important;
}

.a-link, a-link:hover {
    color: white!important;
}

.top-cards {
    background-color: rgba(16,17,20, 0.75)!important;
    font-color: #EAEFE7;
    margin-bottom: 10px !important;
    padding-bottom: 5px !important;
}

.soft-cards {
    min-height: 220px;
}

.footer {
    background-image: url('/static/bg2.png');
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px 12px black;
}

.hidden {
    display: none!important;
}

.console {
  font: 1.2rem Inconsolata, monospace;
}
.console.pre {
  font: 1.2rem Inconsolata, monospace;
}

.indicator.online {
    background: #28B62C;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -webkit-animation: pulse-animation 2s infinite linear;
}

.indicator {
    background: #B2B7AF;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.indicator.sync {
    background: #CBB128;
    display: inline-block;
    width: 1em;
    height: 1em;
}

@-webkit-keyframes pulse-animation {
	0% { -webkit-transform: scale(1); }
	25% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2) }
    75% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(1); }
}

.indicator.error {
    background: #FF4136;
    display: inline-block;
    width: 1em;
    height: 1em;
}